@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    background-color: #0D171F;
    font-family: 'Roboto';
    color: #fff;
    margin: 0px;
    margin-top: 30px;
}

.introducao a {
    text-decoration: none;
    display: inline;
    color: #fff;
}

.projetos-botao h2 {
    padding-top: 47px;
    padding-left: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 300px;
}

.nome-destaque-header {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 500;
}

.menu-desktop {
    margin-top: 26px;
}

ul {
    font-size: 20px;
}

.menu-desktop li {
    display: inline;
    padding-left: 64px;
}

.menu-desktop a {
    list-style-type: none;
    display: inline;
    color: #A9AAAB;
    text-decoration: none;
    display: inline;
}

h2 {
    font-size: 35px;
    font-family: 'Poppins';
    font-weight: 400;
}

h1 {
    margin-top: 35px;
    font-size: 55px;
    font-family: 'Poppins';
    font-weight: 700;
}

.introducao {
    margin: 0 300px;
    margin-top: 140px;
}

button {
    color: #fff;
    margin-right: 50px;
    margin-top: 50px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    width: 220px;
    height: 55px;
    border-radius: 15px;
    margin-bottom: 130px;
}

.botao-contato {
    background-color: #F3610F;
    border: 0px;
    box-shadow: 0px 0px 5px 1px #cc4c0c5b;
    cursor: pointer;
    letter-spacing: 2px;
}

button:hover {
    transition: .2s;
    box-shadow: 0px 0px 8px #F3610F;
    transform: scale(1.05);
}

.botao-curriculo {
    background-color: #0D171F;
    border: 4px solid #F3610F;
    box-shadow: 0px 0px 5px 1px #F3610F5b;
    cursor: pointer;
    letter-spacing: 2px;
}

.skills {
    margin-top: 80px;
    background-color: #121F28;
    height: 170px;
    width: 100%;
}

.imagens {
    display: flex;
    justify-content: center;
    width: 100%;
}

img {
    margin: 40px 190px;
    width: 88px;
    height: 88px;
}

.parte3 {
    display: flex;
    justify-content: space-between;
    margin-top: 133px;
}

.card {
    margin-top: 66px;
    margin-right: 400px;
}

.sobre-mim {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
}

.descricao {
    margin-top: 55px;
    width: 700px;
    color: #919699;
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 400;
}

.projetos-botao {
    font-family: 'Poppins';
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin: 55px;
    margin-bottom: -15px;
}

.link-projetos {
    width: 700px;
    height: 630px;
    background-color: #121F28;
    border-radius: 60px;
    position: relative;
    margin-left: 420px;
    margin-top: 60px;
}

.link-projetos:hover {
    transition: .2s;
    box-shadow: 0px 0px 20px 0px #070f144d;
    transform: scale(1.05);
}

.projetos {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 500;
    margin-left: 55px;
    margin-top: -58px;
}

.imagem-terminal {
    padding-top: 0px;
    width: 700px;
    height: 483px;
    display: flex;
    margin-left: 4px;
    position: relative;
}

.link-more-detais {
    color: #FFFFFF;
    text-decoration: none;
}

.botao-mais-detalhes {
    background-color: #F3610F;
    border: 0px;
    width: 283px;
    margin-top: 25px;
    box-shadow: 0px 0px 5px 1px #cc4c0c5b;
    letter-spacing: 1px;
}

.circulo-botao {
    width: 65px;
    height: 65px;
    background-color: #334450;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    right: 60px;
}

.arrow {
    width: 25px;
    margin-left: 20px;
    margin-top: -12px;
}

footer {
    margin-top: 150px;
    background-color: #121F28;
    height: 260px;
}

.redes-sociais img {
    margin: 0px;
    padding: 0px;
    width: 60px;
    margin-top: 80px;
    margin: 60px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
}

.github-botao,
.linkedin-botao,
.instagram-botao {
    width: 98px;
    height: 98px;
    border-radius: 100%;
    background-color: #0D171F;
    margin: 50px;
    position: relative;
    box-shadow: 0px 0px 5px 1px #070f144d;
}

.github-icon,
.linkedin-icon,
.instagram-icon {
    position: absolute;
    top: -55px;
    right: -41px;
}

.direitos-reservados {
    color: #919699;
    text-align: center;
}

.github-botao:hover {
    transition: .2s;
    transform: scale(1.05);
    background-color: #070F14;
}

.instagram-botao:hover {
    transition: .2s;
    transform: scale(1.05);
    background-color: #070F14;
}

.linkedin-botao:hover {
    transition: .2s;
    transform: scale(1.05);
    background-color: #070F14;
}